<div class="container table-responsive my-4">
	<table ng-show="!currentClient" class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Email</th>
	      <th>Current card</th>
	      <th class="text-center">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="client in clients">
	      <td ng-model="client.first_name">{{client.first_name}} {{client.last_name}}</td>
	      <td>{{client.email}}</td>
	      <td>****</td>
	      <td class="text-center">
	      	<button ng-click="getClient(client._id)" class="btn btn-light">Profile</button>
	      </td>
	    </tr>
	  </tbody>
	</table>
</div>