<h1>Clients</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Current card</th>
      <th class="text-center" colspan=2>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="client in clients">
      <td>{{client.first_name}} {{client.last_name}}</td>
      <td>{{client.email}}</td>
      <td>****</td>
      <td class="text-center">
      	<a href="/clients/{{client._id}}">Edit</a>
      </td>
      <td class="text-center">
      	<a href="#">Visit</a>
      </td>
    </tr>
  </tbody>
</table>