<div class="container my-4">
	<form class="inline-form row">
		<div class="form-group col-12">
			<label>First Name 
				<input type="text" name="first_name" class="form-contol" ng-model="newClient.first_name">
			</label>
		</div>
		<div class="form-group col-12">
			<label>Last Name 
				<input type="text" name="last_name" class="form-contol" ng-model="newClient.last_name">
			</label>
		</div>
		<div class="form-group col-12">
			<label>Email 
				<input type="text" name="email" class="form-contol" ng-model="newClient.email">
			</label>
		</div>
		<div class="form-group col-12">
			<label>Phone 
				<input type="text" name="phone" class="form-contol" ng-model="newClient.phone">
			</label>
		</div>
		<div class="form-group col-12">
			<label>Birthday 
				<input type="text" name="birthday" class="form-contol" ng-model="newClient.birthday">
			</label>
		</div>
		<div class="form-group col-12">
			<button class="btn btn-danger" ng-click="register = !register" >Back to list</button>
			<button ng-click="register(newClient)" class="btn btn-success">Save client</button>
		</div>
	</form>
</div>